<section data-ng-controller="ProfileController" data-ng-init="findOne()">
	<div class="clearfix">
		<div class="page-header">
			<img alt="gravatar" src="{{user.gravatarUrl}}" />
			<h1 data-ng-bind='{{user.displayName || user.username}}'></h1>
			
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.username == user.username))">
				<a class="btn btn-primary" href="/#!/users/{{user.id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
			</div>
		</div>
		<div class="col-sm-6">{{user.displayName}}</div>
		
		<tree-list-directive trees="trees"></tree-list-directive>
		
	</div>

</section>
