<section data-ng-controller="ProfileController" data-ng-init="findOne()">
	<div class="clearfix">
		<div class="page-header clearfix">
			<div class="pull-right"
				data-ng-show="((authentication.user) && (authentication.user.username == user.username))">
				<a class="btn btn-primary" href="/#!/settings/profile"> <i
					class="glyphicon glyphicon-edit"></i>
				</a>
			</div>
			<div class="col-xs-5 ">
				<img alt="gravatar" src="{{user.gravatarUrl}}" />
				<h1 data-ng-bind='{{user.displayName || user.username}}'></h1>
			</div>
			<div class="col-xs-5">{{user.displayName}}</div>
		</div>

		<tree-list-directive trees="trees"></tree-list-directive>

	</div>

</section>
