<section data-ng-controller="TreesController" data-ng-init="findOne()">
	<div class="clearfix">
		<div class="page-header">
			<h1 data-ng-bind="tree.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.username == tree.createdBy">
			<a class="btn btn-primary" href="/#!/trees/{{tree._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Created on
				<span data-ng-bind="tree.createdDate | date:'mediumDate'"></span>
				by
				<span><a href="/#!/profile/{{tree.createdBy" data-ng-bind="tree.createdBy"></a></span>
			</em>
		</small>
	</div>


	<div class="text-center well">
		<div>
       		<img data-ng-src="{{tree.coverImageUrl || 'modules/core/img/brand/icon_lg.png'}}"></img>
       	</div>
       	<div class="row-space" btf-markdown="tree.description"></div>
       	<div class="row-space">
       		<a class="btn btn-primary" href="/#!/trees/{{tree._id}}/branch/{{startPage._id}}">Launch!</a>
       	</div>
	</div>
</section>
