<div class="container">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-6 col-md-3"
			data-ng-repeat="tree in trees">
			<div class="thumbnail">
				<a data-ng-href="#!/trees/{{tree._id}}"> <img
					src="{{tree.coverImageUrl || 'modules/core/img/brand/icon.png'}}"
					alt="{{tree.name}}">
				</a>
				<div class="caption">
					<h3>{{tree.name}}</h3>
					<p>{{tree.description}}</p>
					<p>
						Posted on <span data-ng-bind="tree.createdDate | date:'medium'"></span>
						by <span data-ng-bind="tree.createdBy.username">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>