<section data-ng-controller="OrganizationsController" data-ng-init="findOne()">
	<div class="clearfix">
		<div class="page-header">
			<h1 data-ng-bind="organization.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.id == organization.createdBy.username))">
			<a class="btn btn-primary" href="/#!/organizations/{{organization.id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="organization.createdDate | date:'mediumDate'"></span>
				by
				<span data-ng-bind="organization.createdBy.username"></span>
			</em>
		</small>
	</div>


	<div class="text-center well">
       	<div ng-bind="organization.name"></div>
	</div>
</section>
