<section data-ng-controller="ViewFormController"
	data-ng-init="findOne()">
	<div class="page-header">
		<div class="pull-right clear" data-ng-show="((authentication.user) && (authentication.user.username == form.createdBy))">
			<a class="btn btn-default" href="/#!/forms/{{form.form_id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
		</div>
		<h2>{{ form.form_name }} <span class="text-warning">[Testing]</span></h2> 
		<div><a class="btn btn-info" ui-sref="renderForm(stateParams)">Launch Published Form</a></div>
	</div>

	<div class="container">
		<form-directive form="form"></form-directive>
		<hr>
	
		<div class="text-center">
			<a class="btn btn-small btn-default" ng-show="!showJson"
				ng-click="showJson = true">Show form json object</a> <a
				class="btn btn-small btn-inverse" ng-show="showJson"
				ng-click="showJson = false">Hide form json object</a><br> <br>
		</div>
	
		<div ng-show="showJson">
			<h4>Form object:</h4>
			<pre>{{ form | json }}</pre>
		</div>
	</div>
	
</section>