<section data-ng-controller="HomeController">
	<div class="container">
		<div class="row-fluid">
			<div class="hero-unit text-center">
				<img alt="Sprout!" src="modules/core/img/brand/sprout.png" />
			</div>
			<div data-ng-include="'modules/search/views/search.client.view.html'"></div>
		</div>
	</div>

	<div class="featurette" style="margin:2em;">
		<div>
			<h2 class="featurette-heading">Decision trees with embedded
				forms</h2>
			<span class="text-muted">Sprout <span
				class="glyphicon glyphicon-heart"></span>'s Data.
			</span>
			<p class="lead">Create dynamic surveys or guided business
				processes and collect the data for reporting or automated business
				transactions.</p>
		</div>
	</div>

</section>