<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign in with social accounts</h3>
	<div class="col-md-12 text-center">
		<!-- <a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a> 
			<a href="/login/google" class="undecorated-link">
				<img src="/modules/users/img/buttons/google.png">
			</a>-->
			<a href="/login/linkedin" class="undecorated-link">
				<img src="/modules/users/img/buttons/linkedin.png">
			</a>
			<a href="/login/github" class="undecorated-link">
				<img src="/modules/users/img/buttons/github.png">
			</a>
	</div>
	<h3 class="col-md-12 text-center">Or Sprout account</h3>
	<br />
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
				<form data-ng-submit="signin()"  name="f" method="post"
					class="form-horizontal text-center">
					<fieldset>
						<div ng-if="error" class="alert alert-error">Invalid
							username and password.</div>
						<div ng-if="logout" class="alert alert-success">You
							have been logged out.</div>
						<div class="form-group">
							<label for="username">Username</label> <input type="text"
								id="username" name="username" ng-model="credentials.username" />
						</div>
						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								id="password" name="password"  ng-model="credentials.password"/>
						</div>

						<div class="form-group">
							<button type="submit"
								class="text-center btn btn-large btn-primary">Log in</button>
						</div>
						<div>
							<p>
							Demo - admin/password
							</p>
							<p>
							Data is wiped periodically
							</p>
						</div>
					</fieldset>
				</form>
	</div>
</section>