<section data-ng-controller="UserAdminController">
    <div class="page-header">
        <h1>New User</h1>
    </div>
    <div class="col-md-12 container">
        <form name="userForm" class="form-horizontal col-md-6 pull-left" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="username" name="username" id="username" 
                        	class="form-control" placeholder="Username" required="required"
                        	ng-minlength="3">
                        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">A valid username is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <div class="controls">
                        <input type="email" data-ng-model="emailAddress" name="emailAddress" id="emailAddress" 
                        	class="form-control" placeholder="Email Address" required="required"
                        	ng-minlength="3">
                        <p ng-show="userForm.emailAddress.$invalid && !userForm.emailAddress.$pristine" class="help-block">A valid email address is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" data-ng-model="password" id="password" name="password" 
                        	class="form-control" placeholder="password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="verifyPassword">Verify Password</label>
                    <div class="controls">
                        <input type="password" data-ng-model="verifyPassword" id="verifyPassword" name="verifyPassword" 
                        	class="form-control" placeholder="Verify Password" required="required"
                        	ui-validate=" '$value==password' "
                        		ui-validate-watch=" 'userForm.password' ">
                        		<p ng-show="userForm.verifyPassword.$invalid && !userForm.verifyPassword.$pristine" class="help-block">The passwords must match.</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" ng-disabled="userForm.$invalid" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>